.tabbed-pane .tab-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .tab-nav {

    justify-content: center;

  }
  
  .tabbed-pane .tab-nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .tabbed-pane .tab-nav button {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-bottom: none;
    box-shadow: inset 0 3px 8px rgba(150, 150, 150, 0.3);
  }
  
  .tabbed-pane .tab-nav button:hover {
    background-color: #f8f8f8;
    color: #a93439;
    transition: ease-in-out 0.25s;
  }

  .tabbed-pane .tab-nav button.active {
    background-color: #a93439;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
    color:white;
    transition: ease-in-out 0.4s;
  }
  
  .tabbed-pane .tab-content .tab-panel {
    display: none;
  }
  
  .tabbed-pane .tab-content .tab-panel.active {
    display: block;
  }

  .tab-panel {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: auto;
  }
  
  .tab-panel button {
    width: auto;
    height: auto;
    margin: 0.1%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .tab-panel button:hover {
    background-color: #a93439;
    color: white;
    transition: ease-in-out 0.3s;
  }
  
  .tab-panel button:active,
  .tab-panel button.active {
    background-color: #a93439;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
    outline: none;
    transition: ease-in-out 0.4s;
  }